<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TUB Word Document Maker</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body>
<div class="container">
    <h1 class="test">Tub Word Document Maker</h1>
    <p>Click the download button to create and download the TUB word document.</p>
    <p>It will take a while, please be patient.</p>
    <button id="download-button" onclick="downloadFile()">Download TUB Word Document</button>
    <div id="loader">
        <img alt="spinning clock" class="spinner" src="/img/clock.svg">
        <p>Downloading...</p>
    </div>
    <div id="download-error">
        <p>Sorry, something went wrong. Please contact Pooya.</p>
    </div>
</div>
<script th:src="@{/js/main.js}"></script>
</body>
</html>