<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tub Word Document Maker</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body>
<div class="container">
    <h1 class="test">Tub Word Document Maker</h1>
    <p>Click the download button. It will take a while, please be patient.</p>
    <button id="download-button" onclick="downloadFile()">Download</button>
    <div id="loader">
        <img alt="spinning clock" class="spinner" src="/img/clock.svg">
        <p>Downloading...</p>
    </div>
</div>
<script>
    function downloadFile() {
        // Show loader
        document.getElementById('loader').style.display = 'flex';
        document.getElementById('download-button').style.display = 'none';

        // Fetch the file from "/entry" endpoint
        fetch('/entry')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.blob();
            })
            .then(blob => {
                // Create a link element and trigger a click to download the file
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'downloaded_file.docx';
                document.body.appendChild(a);
                a.click();

                // Hide loader after the file is downloaded
                document.getElementById('loader').style.display = 'none';
                document.getElementById('download-button').style.display = 'block';
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);

                // Hide loader in case of an error
                document.getElementById('loader').style.display = 'none';
            });
    }
</script>
</body>
</html>